@import "sprites";
@import "testing";

body {
  background-color: #f2f2f2;
}

.flex {
  display: flex;
}

.border-radius {
  border-radius: 12px;
}

// .github {
//   @include sprite($github);
// }

@include sprites($spritesheet-sprites);
